extends layout

block content
    .container
        #forum-title
            h1 #{title}
            form(method='POST', action='/user/change-password')
                #form-group
                    label Current Password
                    input.form-control(name='old_password', type='password')
                br
                #form-group
                    label New Password
                    input.form-control(name='password', type='password')
                br
                #form-group
                    label Confirm New Password
                    input.form-control(name='password2', type='password')
                br
                input.btn.btn-primary(type='submit', value='Submit')