extends layout

block content

    .container.text-center
        .jumbotronCompletedCon 
            h1#forum-title.text-centerMy Schedhuled Consultations
            
            a.btn.btn-link1(href= "/consultations/confirmed").buttonManageConsultation Upcoming
            a.btn.btn-link1(href= "/consultations/completed").buttonManageConsultation Completed
    
        if user
            .row
                each consultation, i in consultations
                    
                    .column 
                        .card
                            .ccontainerCard#manageConsultationCardWhite
                                p #[strong Student]: #{consultation.student}
                                p #[strong Date]: #{moment(consultation.date).format("LL")}
                                p #[strong Time]: #{moment(consultation.time, ["HH.mm"]).format("hh:mm a")}
                                p #[strong Venue]: #{consultation.venue}


                                br
                                br