extends layout

block content
    .jumbotron.text-center
        h1 Book a Consultation today!
        if user
            if user.type == type
                h2 HELLO #{type}
                a.btn.btn-primary(href= "/consultations/new") Make a Booking
                a.btn.btn-primary(href= "/consultations/manage") Manage Bookings
            if !(user.type == type)
                p #{type}
        if !user
            h3 Please sign in to book
            a.btn.btn-primary(href= "/user/login") Sign in

    