extends layout

block content

    .container 
        h1#forum-title My Schedhuled Consultations
        a.btn.btn-link(href= "/consultations/confirmed") upcoming
        a.btn.btn-link.active(href= "/consultations/completed") completed

        if user
            each consultation, i in consultations
                .card
                    .card-body
                        p #[strong Student]: #{consultation.student}
                        p #[strong Date]: #{moment(consultation.date).format("LL")}
                        p #[strong Time]: #{moment(consultation.time, ["HH.mm"]).format("hh:mm a")}
                        p #[strong Venue]: #{consultation.venue}


                        br
                        br