extends layout
block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Booking Form
                br
                form(method='POST', action='/user/consultations')
                    .form-group
                        label Enter Date:
                        input.form-control(name='date', type='date')
                    br
                    .form-group
                        label Enter Time:
                        input.form-control(name='time', type = 'time')
                    br
                    .form-group
                        label Meeting Type (select Offline or Online):
                        select.form-control(name='isOnline')
                            option Online
                            option Offline
                    br
                    br
                    input.btn.btn-primary(type='submit', value='Submit')
