extends layout

block content
    #whiteBGEdit
        .container
            #forum-title
                h1 #{title}
            form(method='POST', action='/user/profile/edit/'+user._id)
                #form-group
                    label First Name
                    input.form-control(name='first_name', type='text', value=user.first_name)
                br
                #form-group
                    label Last Name
                    input.form-control(name='last_name', type='text', value=user.last_name)
                br
                #form-group
                    label Email
                    input.form-control(name='email', type='text', value=user.email)
                br
                input.btn.btn-primary(type='submit', value='Submit')
            br