extends layout

block content

    .header#discussion-header
        h1 Forums
    .row
        .leftcolumn
            each  forum, i in forums
                .panel
                    .panel-body#forum-card
                        #forum-title
                            h2 #{forum.title}
                        h6 posted by #{forum.author}, #{forum.date.toDateString()}
                        p #{forum.body}
                    .panel-footer#forum-link
                        a(href='/forum-posts/'+forum._id)
                            h4 click here to view
                    
        .rightcolumn
            .card#search
                if user
                    input.btn.btn-primary(type='submit', value='Create a post', onclick='move()')

                form.form-inline.d-flex.justify-content-center.md-form.form-sm.active-cyan.active-cyan-2.mt-2
                    i.fas.fa-search(aria-hidden='true')
                    input.form-control.form-control-sm.ml-3.w-75(type='text', placeholder='Search', aria-label='Search')


                script.
                    function move() {
                        window.location.href = '/forum-posts/submit'
                    }
            .card#about-us
                .text-secondary
                    #heading-font    
                        h2 About Us
                    .fakeimg(style='height:100px;') Image
                    p.
                        We have identified two major barriers detering men from seeking help, 
                        namely; social stigmas attached with mental health, and perhaps as an extension 
                        of these stigmas, anxiety relating to having a face-to-face consultation with a mental health expert. 
            .card#popular
                #heading-font
                    h3 Popular Post
                .fakeimg Image
                br
                .fakeimg Image
                br
                .fakeimg Image

    script.
        function move() {
        window.location.href = '/forum-posts/submit'
     }            
    
