extends layout

block content
    h1 #{title}
    ul.list-group
        each forum, i in forums
            li.list-group-item
                a(href='/forum-posts/'+forum._id)= forum.title
    
    input.btn.btn-primary(type='submit', value='Create a post', onclick='newForumForm()')