extends layout

block content
    .header
        h1 #{title}
        if !user
            h5 Sign in to create a post
    .row
        .leftcolumn
            each forum, i in forums
                .card
                    a(href='/forum-posts/'+forum._id)= forum.title
                    h5 by #{forum.author}
        .rightcolumn
            .card
                if user
                    input.btn.btn-primary(type='submit', value='Create a post', onclick='move()')
                
                script.
                    function move() {
                        window.location.href = '/forum-posts/submit'
                    }