extends layout

block content

    .header
        h2 Forum Page
    .row
        .leftcolumn
            each  forum, i in forums 
                a(href='/forum-posts/'+forum._id)
                    .card.bg-primary
                        h2 #{forum.title}
                        h5 by #{forum.author}, #{forum.date.toDateString()}
                        p #{forum.body}
        .rightcolumn
            .card
                if user
                    input.btn.btn-primary(type='submit', value='Create a post', onclick='move()')

                form.form-inline.d-flex.justify-content-center.md-form.form-sm.active-cyan.active-cyan-2.mt-2
                    i.fas.fa-search(aria-hidden='true')
                    input.form-control.form-control-sm.ml-3.w-75(type='text', placeholder='Search', aria-label='Search')


                script.
                    function move() {
                        window.location.href = '/forum-posts/submit'
                    }
            .card
                 .text-secondary    
                    h2 About Us
                    .fakeimg(style='height:100px;') Image
                    p.
                        We have identified two major barriers detering men from seeking help, 
                        namely; social stigmas attached with mental health, and perhaps as an extension 
                        of these stigmas, anxiety relating to having a face-to-face consultation with a mental health expert. 
            .card
                h3 Popular Post
                .fakeimg Image
                br
                .fakeimg Image
                br
                .fakeimg Image
            .card
                h3 Follow Me
                p Some text..
    if user
        input.btn.btn-primary(type='submit', value='Create a post', onclick='move()')
    script.
        function move() {
        window.location.href = '/forum-posts/submit'
     }            
    .footer
        h2 Footer
