extends layout


block content
    .jumbotron.text-center(href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&display=swap")
        h1 #{title}
        p It's OK to not be OK
        a.btn.btn-primary(href= "/aboutus") Learn More
             
    .row
        .column
            .card

            img(src='https://static.vecteezy.com/system/resources/previews/000/223/292/original/group-people-talking-and-laughing-vector.jpg' alt='Mike' style='width:100%' height="100%")
            .container
                h2 Forums
                p.title Discussions
                p View our forums now!
                p 
                p
                a(href='/forum-posts')
                    button.button  View Forums!
        .column
            .card
            img(src='https://static.vecteezy.com/system/resources/previews/000/223/292/original/group-people-talking-and-laughing-vector.jpg' alt='John' style='width:100%')
            .container
                h2 Book a specialist
                p.title Consultations
                p See a specialist now!
                p
                a(href='/user/consultations')
                    button.button Book now!
        .column
            .card
            img(src='https://static.vecteezy.com/system/resources/previews/000/223/292/original/group-people-talking-and-laughing-vector.jpg' alt='Jane' style='width:100%' height="100%")
            .container
                h2 Join the community!
                p.title Member
                p Be part of a larger community.
                p
                a(href='/user/signup')
                    button.button Sign up now!        