extends layout

block content

    .jumbotron.text-center(href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&display=swap")
        h1 #{title}
        p It's OK to not be OK
        a.btn.btn-primary(href= "/aboutus") Learn More
        
    .slideshow-container
        // Full-width images with number and caption text
        .mySlides.fade
            .numbertext 1 / 3
            img(src='https://images.theconversation.com/files/194386/original/file-20171113-27576-a1s7xf.jpg?ixlib=rb-1.1.0&rect=19%2C0%2C3268%2C1631&q=45&auto=format&w=1356&h=668&fit=crop' style='width:100%')
            .text Caption Text
        .mySlides.fade
            .numbertext 2 / 3
            img(src='https://www.incimages.com/uploaded_files/image/970x450/shutterstock_619960997_360000.jpg' style='width:100%')
            .text Caption Two
        .mySlides.fade
            .numbertext 3 / 3
            img(src='https://www.maroondah.vic.gov.au/files/assets/public/images/communications-engagement/media-releases/mental-health-awareness.jpg' style='width:100%')
            .text Caption Three
        // Next and previous buttons
        a.prev(onclick='plusSlides(-1)') &#x276E;
        a.next(onclick='plusSlides(1)') &#x276F;
    br
    // The dots/circles
    div(style='text-align:center')
        span.dot(onclick='currentSlide(1)')
        span.dot(onclick='currentSlide(2)')
        span.dot(onclick='currentSlide(3)')

         
    .container  
        .card-deck
            .card.bg-primary
                .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2015/04/deven-full1.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title John Doe
                        p.card-text Psychologist speciliasing in anxiety. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile 
            .card.bg-warning
                .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2019/10/laura_full.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title Laura Doe
                        p.card-text Psychologist speciliasing in depression. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile
            .card.bg-success
                .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2019/10/laura_full.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title Susan Doe
                        p.card-text Psychologist speciliasing in panic attacks. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile
            .card.bg-danger
                .card-body.text-center
                    .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2015/03/john-full.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title Bob Doe
                        p.card-text Psychologist speciliasing in schizophrenia. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile
            .card.bg-info
                .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2015/03/jeremy-full.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title Tom Doe
                        p.card-text Psychologist. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile 