extends layout

block content

    .jumbotron.text-center(href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&display=swap")
        h1 #{title}
        p It's OK to not be OK
        a.btn.btn-primary(href= "/aboutus") Learn More
        
    #demo.carousel.slide(data-ride='carousel')
        // Indicators
        ul.carousel-indicators
            li.active(data-target='#demo' data-slide-to='0')
            li(data-target='#demo' data-slide-to='1')
            li(data-target='#demo' data-slide-to='2')
        // The slideshow
        .carousel-inner
            .carousel-item.active
                img(src='../images/background.jpg' alt='Sample1')
            .carousel-item
                img(src='../images/background2.jpg' alt='Sample2')
            .carousel-item
                img(src='../images/background3.jpg' alt='Sample3')
    // Left and right controls
    a.carousel-control-prev(href='#demo' data-slide='prev')
        span.carousel-control-prev-icon
    a.carousel-control-next(href='#demo' data-slide='next')
        span.carousel-control-next-icon     