extends layout

block content

    #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#myCarousel' data-slide-to='0')
            li(data-target='#myCarousel' data-slide-to='1')
            li(data-target='#myCarousel' data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox')
            .item.active
                a(href='/aboutus')
                    img(src='../img/carousel1.jpg')
                    .carousel-caption
                        p click to learn about us
            .item
                a(href='/forum-posts')
                    img(src='../img/carousel2.jpg')
                    .carousel-caption
                        p click to join the discussion
            .item
                a(href='/consultations')
                    img(src='../img/carousel3.jpg')
                    .carousel-caption
                        p click to learn more about consultations       
        // Left and right controls
        a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next 
    
    .columnIndex
        h1.indexTitle Why Men's Health?
            p.indexParagraph Men are typically known for showing no signs of vulnerability and ecouraged to bottle their emptions up.The social stigma of men not having to seek help or express inner emotions due to societal norms is a major limitation for many men to obtain the necessary help. But we at Spatium understand that 
                span.bold it's OK to not be OK.
                li.indexParagraph Evidence suggests that men (particularly young males) are less likely to seek professional help for ongoing mental health issues over females (31% vs 13%).                
                li.indexParagraph Men are three times more likely to die by suicide than women. Three times as many men as women took their lives in 2018. There were 2,320 suicide deaths among males (a rate of 18.6 deaths per 100,000) compared to 726 female deaths (a rate of 5.8 deaths per 100,000)
            p.indexParagraph We have identified two major barriers detering men from seeking help, namely; social stigmas attached with mental health, and perhaps as an extension of these stigmas, anxiety relating to having a face-to-face consultation with a mental health expert. These barriers are no more prevalent than with young people, specifically uni students as a result of the variety of external pressures they have to manage on a day-to-day basis.     




    .row
        .column.index
            .card
                img(src='https://dcjb9ra2bn4fr.cloudfront.net/1600px_COLOURBOX32303695.jpg?Expires=1591071203&Signature=YHaozoC5qKUWPWTRXy9JrGSo3rhi9bacNQ0HoMCu6uPLrxbOXCD6wEIKjAnOygEAoCQSHY5wEQGlN7qEOro8yKz2~Cwj139EFu5ss2ZJiB7zyv0X22uJVVeYPXNrL~XKZ1yW5cvZs0oURlKMDtoxIqJ3J~IJHSyTR4QEJxJAiGr3kOgxkaMzQNVe7aX6J9nKWEP895wKsB1f~cOXm748FeTFp36clO3jxc-nlwOu4ioXyOlaS0W66c25KYE9K~MiP4Itzr7K-ZKRL-ZnQILIydTavNoqYOffdHgVzcd2b5w7yLfrHgS3uFtVIIdcNt~WblC3QEybYAzc8dsXEe3jUQ__&Key-Pair-Id=APKAJJFR7WIPMIVXFK3Q' alt='Men talking.' style='width:100%' height="120%")
                
                .containerCard
                    h2 Depression
                    hr.card1
                    p.title Forum Post
                    p While we all feel sad, moody or low from time to time, some people experience these feelings intensely, for long periods of time (weeks, months or even years) and sometimes without any apparent reason. 
                    p 
                    
                a(href='/forum-posts/5ec0a3b5b54b9a5aa8de4468')
                    button.buttonCard  View Forum!
        .column
            .card
                img(src='https://www.lehighcenter.com/wp-content/uploads/2018/11/signs-of-anxiety-disorder-2.jpg' alt='Consultation' style='width:100%')
                .containerCard
                    h2 Anxiety
                    hr.card1
                    p.title Forum Post
                    p Anxiety is more than just feeling stressed or worried. While stress and anxious feelings are a common response to a situation where we feel under pressure, they usually pass once the stressful situation has passed... 
                    p
                a(href='/forum-posts/5eca09bab8b52b0f00d1b3a2')
                    button.buttonCard View Forum!
        .column
            .card
                img(src='https://www.verywellmind.com/thmb/imMgNi97rBnQZNjQM3s4zvVaTiQ=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/angry-man-using-computer-1138532387-38847aa09c8a4f83868718278db2b77e.jpg' alt='Community' style='width:100%' height="100%")
                .containerCard
                    h2 Anger
                    hr.card1
                    p.title Forum Post
                    p Anger is a natural, instinctive response to threats. Some anger is necessary for our survival. Anger becomes a problem when you have trouble controlling it, causing you to say or do things you regret.
                    p
        
                a(href='/user/signup')
                    button.buttonCard View Forum!   