extends layout

block content

    .jumbotron.text-center(href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&display=swap")
        h1 #{title}
        p It's OK to not be OK
        a.btn.btn-primary(href= "/aboutus") Learn More
        
    #demo.carousel.slide(data-ride='carousel')
        // Indicators
        ul.carousel-indicators
            li.active(data-target='#demo' data-slide-to='0')
            li(data-target='#demo' data-slide-to='1')
            li(data-target='#demo' data-slide-to='2')
        // The slideshow
        .carousel-inner
            .carousel-item.active
                img(src='..https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='Sample1')
            .carousel-item
                img(src='..https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg' alt='Sample2')
            .carousel-item
                img(src='..https://images.pexels.com/photos/1054289/pexels-photo-1054289.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' alt='Sample3')
    // Left and right controls
    a.carousel-control-prev(href='#demo' data-slide='prev')
        span.carousel-control-prev-icon
    a.carousel-control-next(href='#demo' data-slide='next')
        span.carousel-control-next-icon 
        
     
    .container  
        .card-deck
            .card.bg-primary
                .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2015/04/deven-full1.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title John Doe
                        p.card-text Psychologist speciliasing in anxiety. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile 
            .card.bg-warning
                .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2019/10/laura_full.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title Laura Doe
                        p.card-text Psychologist speciliasing in depression. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile
            .card.bg-success
                .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2019/10/laura_full.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title Susan Doe
                        p.card-text Psychologist speciliasing in panic attacks. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile
            .card.bg-danger
                .card-body.text-center
                    .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2015/03/john-full.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title Bob Doe
                        p.card-text Psychologist speciliasing in schizophrenia. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile
            .card.bg-info
                .card-body.text-center
                    img.card-img-top(src = "https://materiell.com/wp-content/uploads/2015/03/jeremy-full.png" alt='Card image' style='width:50%')
                    .card-body
                        h4.card-title Tom Doe
                        p.card-text Psychologist. 
                        a.btn.btn-primary.stretched-link(href='#') See Profile 