extends layout

block content

    .jumbotron.text-center(href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&display=swap")
        h1 #{title}
        p It's OK to not be OK
        a.btn.btn-primary(href= "/aboutus") Learn More