extends layout
block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 #{title}                    
                br
                form(method='POST', action='/users/login')
                    .form-group
                        label Username:
                        input.form-control(name='username', type='text')
                    .form-group
                        label Password:
                        input.form-control(name='password')

                    input.btn.btn-primary(type='submit', value='Sign In')
                    br
                    br
                    p Don't have an account yet? Sign Up below!
                    a.btn.btn-success.btn-sm(href='/user/signup') Create an Account