extends layout
block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 #{title}
                br
                form(method='POST', action='/users/signup')
                    .form-group
                        label User Type (select one):
                        select.form-control(name='userType')
                            option student
                            option counsellor
                    br
                    .form-group
                        label Username:
                        input.form-control(name='username', type='text')
                    br
                    .form-group
                        label Password:
                        input.form-control(name='password', type='password')
                    br
                    .form-group
                        label Confirm password:
                        input.form-control(name='password2', type='password')
                    br
                    .form-group
                        label First Name:
                        input.form-control(name='first_name', type='text')
                    br
                    .form-group
                        label Last Name:
                        input.form-control(name='last_name', type='text')
                    br
                    .form-group
                        label Email Address:
                        input.form-control(name='email', type='text')
                    br
                    br
                    input.btn.btn-primary(type='submit', value='Submit')