.comment{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}


.comment:hover {
    background-color: lightblue;
}

.panel-default:hover {
    background-color: orange;
}

.panel-heading:hover {
    background-color: red;
}