html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.comment{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}

header{
  background-color: #0A455C;
}

nav.navbar {
    margin-bottom: 0px;
    background-color:#0A455C;
    border-radius: 0;
    border: #0A455C;
}

nav.navbar.navbar-inverse li a {
  color:white;
}
nav.navbar.navbar-inverse li a:hover {
  color:grey;
}

.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover {
  color: grey;
}

#forum-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.pagecontent{
    font-family: Arial;
    padding: 20px;
    background: rgb(255, 255, 255);
}


.comment:hover {
    background-color: lightblue;
}

.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


/*forum-posts*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {
    float:left;
    width: 60%;
    padding-left: 20%;
    padding-bottom: 20px;
}

.rightcolumn {
    float:left;
    width:25%;
    padding-left: 20px;
    padding-right: 5%;
}

.card {
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}
.cardConfirmed {
  border-radius: 15px;
  padding: 50px;
  margin-top: 20px;
  background-color:rgb(11, 69, 91) ;
}

#forum-card{
  border-radius: 15px 15px 0px 0px ;
  background-color: #5680E9;
  color: white;
}

#completed-card{
  border-radius: 15px 15px 0px 0px ;
  background-color: transparent;
  color: white;
}
.panel{
  padding: 0px;
  background-color: transparent;
}



#forum-link{
  border-radius: 0px 0px 15px 15px;
  background-color: #C1C8E4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#heading-font{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #0A455C;
  color: white;
  width: 100%;
  margin-top: 20px;

}
.border-container{
  padding: 5px;
  background: linear-gradient(to right, #55ACEE, purple, red, gold);
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* add_forum view */

.forumcontainer{
    padding-left: 20%;
    padding-right: 20%;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }

  
/* Meet the team cards */
/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

/* Some left and right padding inside the container */
.container {
  padding: 20px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #555;
  text-align: center;
  cursor: pointer;
  width: 45%;
  padding: 20px;

}

.button:hover {
  background-color: #000;
}

.far.fa-clock{
    font-size: medium;
}


#discussion-header{
  
  font-family: "Arial Black", sans-serif;
  background-color: transparent;
  color: white;
 
}



#search{
  background-color: #84CEEB;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#about-us{
  background-color: #5AB9EA;
  color: white;
}

#popular{
  background-color: #FFB829;
  color: white;
}

#comment-top{
  border-radius: 15px 15px 0px 0px ;
}

#comment-bottom{
  border-radius: 0px 0px 15px 15px ;
}
/* FOOOTER BUTTONS AND ICONS */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: red;
  color: white;
}
.fa-instagram {
  background: rgb(228, 64, 132);
  color: white;
}
.fa-pinterest {
  background: rgba(255, 0, 0, 0.712);
  color: white;
}
.fa-reddit {
  background: orange;
  color: white;
}

.btn.btn-footer {
  background-color: red;
  color: white;
  width: 250px;
  /* height: 250px; */
  border-radius: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn.btn-footer:hover {
  background-color: gold;
}

#signin-createpost{
  background-color: #B3B3FF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#normalfont{
  font-family: Arial, Helvetica, sans-serif;
}

.search-header{
  font-family: Arial, Helvetica, sans-serif;
  
}

#logo{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#slogan{
  float: right;
}

#header-title{
  float: right;
}

.module-border-wrap {
  background: linear-gradient(to right, #55ACEE, purple, red, gold);
  
}



.border-container{
  padding: 5px;
}
.footer-container {
  padding-top: 5px;
}

/* Carousel Image Size*/
.carousel{
  width:100%;
  height: 350px;
}
.item img{
  object-fit:cover;
  height:350px !important;
  width:100%;
}

#edit-comment-form{
  display: none;
}

.delete-comment{
  float: right;
}

.edit-comment{
  float: right;
}

.save-comment{
  float: right;
}

#updated-comment{
  width: 80%;
  word-wrap: break-word;
  
}

.manage-consultation{
  float: right;
  margin: 10px;
}

.delete-consultation{
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color:	rgb(255, 56, 0);
  text-align: center;
  font-size: small;
  cursor: pointer;
  width: 40%;
  padding: 7px;
  margin: 10px;
  border-radius: 20px;
  
}

.delete-consultation:hover {
  color: white;
  background-color:rgb(11, 69, 91)  ;
  border-radius: 10px;
}

#delete-consultation :hover {
  background-color: transparent;
  border: 1px solid white; 
  
}

.accept-request{
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color:	rgb(255, 56, 0);
  text-align: center;
  font-size: small;
  cursor: pointer;
  width: 40%;
  padding: 7px;
  margin: 10px;
  border-radius: 20px;
  
}

.accept-request:hover {
  color: white;
  background-color:rgb(11, 69, 91)  ;
  margin: 10px;
  border-radius: 10px;
}

.accept-request{
  float: right;
}

.jumbotron{
  background-color:#3999f7;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.jumbotronCompleted{
  background-color:transparent;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: 2px solid white
}

/* card css  */
.containerCard {
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

hr.card1 {
  border: 2px solid rgb(11, 69, 91);
  font-family: 'Open Sans', sans-serif;
}

.buttonCard {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:	rgb(255, 56, 0);
  text-align: center;
  cursor: pointer;
  width: 45%;
  padding: 20px;
  border-radius: 20px;

}
.buttonCard:hover {
  background-color: white;
  color:rgb(255, 56, 0);
  border: 2px solid rgb(255, 56, 0);
}
.bold {
  font-weight: bolder;
  color:rgb(255, 56, 0);
  font-size: large;
}
.indexTitle{
  font-family: 'Open Sans', sans-serif;
  color: rgb(177, 0, 80);
  font-size: 70px;
}
.indexParagraph{
  color: rgb(11, 69, 91);
  font-size: 15px;
  margin-top: 20px;
  margin-left: 3%;
  font-weight: 500;

}
li.indexParagraph {
  margin-left: 6%;
  width: 80.6%;

}

.columnIndex {

  float: left;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
  padding-bottom: 20px;
  border: 2px solid rgb(11, 69, 91);
}

.mark-as-complete{
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color:	rgb(255, 56, 0);
  text-align: center;
  font-size: small;
  cursor: pointer;
  width: 40%;
  padding: 7px;
  margin: 10px;
  border-radius: 20px;
}
.mark-as-complete:hover {
  color: white;
  background-color:rgb(11, 69, 91)  ;
  margin: 10px;
  border-radius: 10px;
}

/* ------------------------ CONSULTATION ---------------- */
#jumbotronConsultation{
  background-image: url("../img/consultationBG.jpg");
  min-height: 600px;
  background-repeat: repeat-y;
  margin-bottom: -90px ;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  top:50%;
  left: 50%;
}

#jumbotronForum{
  background-image: url("../img/consultationBG.jpg");
  min-height: 600px;
  margin-bottom: -90px ;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 70px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#buttonConsultation {
  margin: 10px;
}
#buttonConsultation:hover {
  background-color: transparent;
  border: 2px solid white; 
  margin-left: 12px;
  margin-right:12px;
}
/************************** MANAGE CONSULTATIONS *******************/
#containterManageConsultation {
  color: white;
}


#manageConsultationCard {
  background-color:rgb(11, 69, 91);
  border: 2px solid white;
  border-radius: 15px;
  padding: 20px;
  transition: 0.5s ease;
  cursor: pointer;
}
#manageConsultationCardWhite {
  background-color:rgb(11, 69, 91);
  border: 2px solid white;
  border-radius: 15px;
  padding: 20px;
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
}

#manageConsultationCard:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
#manageConsultationCardWhite:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.buttonManageConsultation {
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color:	rgb(255, 56, 0);
  text-align: center;
  font-size: small;
  cursor: pointer;
  width: 40%;
  padding: 7px;
  margin: 10px;
  border-radius: 20px;
}
.buttonManageConsultation :hover{
  border: 2px solid white; 
  color: white;
}

#whiteBG{
  
  background-color: white;
  padding: 55px;
  background-repeat: repeat-y;
  height: inherit;
  margin: 0px;
  
}
#whiteBGEdit{
  
  background-color: white;
  padding: 55px;
  background-repeat: repeat-y;
  height: 560px;
  margin: 0px;
  
}
#whiteBGEditForum{
  
  background-color: white;
  padding: 55px;
  background-repeat: repeat-y;
  height: 560px;
  margin: 0px;
  width: 100%;
  
}
#whiteBGAddForum {
  background-color: white;
  padding: 55px;
  background-repeat: repeat-y;
  height: 560px;
  margin: 0px;

}

#extendBG {
  margin-bottom: 0px;
}

#transparentBG{
  background-color: transparent;
  border: 2px solid white;
}


#login{
  color: white;
  background-color:rgb(11, 69, 91) ;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
#edit{
  color: white;
  background-color:rgb(11, 69, 91) ;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  
}
#forumPostsRight {
  margin-bottom: 40px;
}
#changePasswordBG {
  color: white;
  background-color:rgb(11, 69, 91) ;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  padding-top: 20px;
  border-radius: 20px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}

#containerEditForum {
  color: white;
  background-color:rgb(11, 69, 91) ;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  padding-top: 20px;
  border-radius: 20px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}
#containerConsultationConfirmedForum {
  color: white;
  background-color:transparent ;
  padding-top: 20px;
  border-radius: 20px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;

}
.btn-link{
  color: white;
  background-color:rgb(11, 69, 91)  ;
  margin: 10px;
  border-radius: 10px;
}
.btn-link:hover{
  background-color: transparent;
  border: 1px solid white; 
  margin-left: 12px;
  margin-right: 12px;
  
}
.btn-link1{
  color: white;
  background-color:rgb(255, 56, 0) ;
  margin: 10px;
  border-radius: 10px;
}
.btn-link1:hover{
  background-color: transparent;
  border: 1px solid white; 
  color: white;
}
.btn-link2{
  color: white;
  background-color:rgb(255, 56, 0) ;
  margin: 10px;
  min-width: 100px;
  border-radius: 12px;
}
.btn-link2:hover{
  background-color: transparent;
  border: 1px solid white; 
  color: white;

}
.btn-link3{
  color: white;
  background-color:rgb(255, 56, 0) ;
  margin: 10px;
  border-radius: 10px;
}
.btn-link3:hover{
  background-color: transparent;
  border: 1px solid white; 
  color: white;
  margin: 0px;
}



.jumbotronCompletedCon{
  background-color:transparent;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: 2px solid white;
  padding:10px;
}
#confirmed {
  background-color:  rgb(11, 69, 91);

}
#whiteText {
  font-family: 'Open Sans', sans-serif;
  color: white;
}