.comment{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}

nav.navbar {
    margin-bottom: 0px;
}

.pagecontent{
    font-family: Arial;
    padding: 20px;
    background: rgb(255, 255, 255);
}


.comment:hover {
    background-color: lightblue;
}

.jumbotron.text-center {
    font-family: 'IM Fell Great Primer', serif;
}

.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}
  
/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}
  
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}
  
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
  
  /* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  
  /* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}